		body{
			margin: 0;
			font-family: 'Roboto Condensed', cursive;
		}
		body:not(.mainpage):not(.panier):not(.admin):not(.profile){
			background: url("mountain.jpg");
			background-size: cover;
			background-position: bottom;
			background-attachment: fixed;
			padding-bottom: 100px;
		}
		h2{
			color: #fff;
			text-align: center;
			margin: 30px;
		}
		.profile > h2{
			color: #000;
		}
		nav{
			height: 80px;
			display: grid;
			grid-template-columns: 15% 25% 25% 25% 10%;
			padding: 10px 5%;
			font-family: 'Roboto Condensed', cursive;
			font-weight: bold;
			font-size: 30px;
			color: #fff;
			background: #26627c;
		}
		a{
			text-decoration: none;
		}
		nav.mainpage{
			height: 50px;
			background: transparent;
		}
		.logo{
			font-family: 'Righteous', cursive;
			font-size: 30px;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.logo > img{
			width: 80px;
			margin-right: 10px;
		}
		.logo.centered{
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
		}
		nav > div{
			text-align: center;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		nav > div > a{
			display: inline-block;
			padding: 5px 10px;
			transition: all 0.5s;
			color: #fff;
			text-decoration: none;
		}
		nav > div > a:hover{
			animation: textshadow 0.6s both;
		}
		.actions{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}
		.intro{
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: #fff;
			font-size: 40px;
		}
		.intro > video{
			top: -80px;
			position: absolute;
			left: 0;
			z-index: -1;
		}
		.intro > .title{
			padding-bottom: 80px;
		}

		.separator{
			height: 90px;
			font-family: 'Roboto Condensed', cursive;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			padding-top: 45px;
			background-size: cover;
			background-position: bottom;
			text-transform: uppercase;
			overflow-y: none;
		}
		.separator > span{
			color: #fff;
			padding: 8px 15px;
			background-color:#26627c;
		}
		footer{
			height: 40px;
			background-size: cover;
			background-position: bottom;
			text-align: center;
			padding-top: 20px;
			color:#fff;
			font-weight: bold;
			background-color:#26627c;
		}
		.container{
			padding:50px 100px;
			min-height: 80vh;
			background: url("mountain.jpg");
			background-size: cover;
			background-position: bottom;
			margin-top:-5px;
		}
		.hot{
			background: url("hot.jpg");
			background-size: cover;
			background-position: bottom;
		}
		.grid{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.categorie{
			width: 350px;
			height: 90px;
			margin: 10px 20px;
			padding: 60px 0px 10px 0px;
			background: url("hot.jpg");
			background-size: cover;
			background-position: center;
			text-align: center;
			vertical-align: middle;
			font-size: 25px;
			color: #fff;
			transition: all 0.5s;
			font-weight: bolder;
			font-family: 'Roboto', cursive;
			cursor: pointer;
		}
		.categorie:hover{
			filter: none;
			transform: scale(1.02);
		}
		.categorie > span{
			text-transform: uppercase;
						color: #fff;
			background-color:#26627c;
			padding: 8px 15px;
		}
		.child{
			background-image: url("bg_child.jpg");
		}
		.ski{
			background-image: url("bg_ski.jpg");
		}
		.snowboard{
			background-image: url("bg_snowboard.jpg");
		}
		.accessoires{
			background-image: url("bg_accessoires.jpg");
		}
		@keyframes textshadow {
		  0% {
		    text-shadow: 0 0 0 rgba(255,255,255, 0);
		  }
		  100% {
		    text-shadow: 0 0 30px rgba(255,255,255, 0.55);
		    transform: scale(1.1);

		  }
		}
		.content{
			margin: auto;
			width: 80vw;
			background-color: rgba(255,255,255, 0.95);
		}
		.productList{
			display: flex;
			flex-direction: column;
		}
		.productLine{
			display: grid;
			grid-template-columns: 10% 40% 40% 10%;
			height: 100px;
			color:#333;
			text-decoration: none;
		}
		.productLine > div, .categorieLine > div{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.productLine:hover,.categorieLine:hover{
			background-color: #ccc;
		}
		.light{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #0F3;
		}
		.light.red{
			background-color: #F03;
		}
		.error{
			color: #B00;
			font-weight: bold;
		}
		.categorieLine{
			display: grid;
			grid-template-columns: 10% 20% 70%;
			height: 100px;
			border-bottom: 1px solid rgba(200,200,200,0.5);
			text-align: center;
			color:#333;
			text-decoration: none;
		}
		#loginPage{
			background: #26627c;
			padding-top: 5vh;
		}
		#loginPage > h1{
			font-size: 30px;
			text-align: center;
			color: #fff;
			margin-bottom: 10vh;
		}
		.loginContainer{
			width: 40vw;
			margin: auto;
			display: flex;
			justify-content: center;
			background-color: rgba(255,255,255,0.8);
			border-radius: 10px;
			padding: 30px 10px;
		}
		.loginContainer > form{
			text-align: center;
			width: 50%;
		}
		.backToHome{
			margin-top: 100px;
			font-size: 30px;
			text-align: center;
			color: #fff;
			text-decoration: none;
		}
		.text-input{
			padding: 10px;
			border-radius: 5px;
			border:1px solid gray;
			width: 100%;
			font-size: 20px;
		}
		.primary-button{
			font-size: 16px;
			border-radius: 4px;
			background-color: #26627c;
			color: #fff;
			border:1px solid gray;
			padding: 10px 15px;
			cursor: pointer;
		}
		.cancel-button{
			font-size: 16px;
			border-radius: 4px;
			background-color: #B00;
			color: #fff;
			border:1px solid gray;
			padding: 10px 15px;
			cursor: pointer;
		}
		.number-input{
			padding: 10px;
			border-radius: 5px;
			border:1px solid gray;
			width: 50px;
			font-size: 16px;
			margin: 0 10px;
		}
		nav.admin{
			height: 50px;
			position: fixed;
			z-index:999;
			top: 0;
			background-color: #26a2ac;
			color: #fff;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}
		nav.admin > div{
			padding:5px 20px;
		}
		nav.admin > div > a {
			color: #fff;
			font-weight: bold;
			text-decoration: none;
		}
		.admin-grid{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-item:flex-start;
			margin-top: 70px;
			max-width:100vw;
		}
		.set-option{
			width:40vw;
			min-width:400px;
			display:flex;
			flex-direction:column;
			height:200px;
			background:#ccc;
			padding:20px 10px;
		}
		.date-range-tool{
			display:flex;
			flex-direction:column;
		}
		.date-picker-group{
			display: flex;
			justify-content:space-between;
			margin-bottom:15px;
		}
		#bar-chart-ca{
			flex: 2 1 400px;
			min-height:400px;
		}
		#bar-chart-ca-country{
			flex: 2 1 500px;
			min-height:400px;
		}
		#bar-chart-ca-customer{
			flex: 2 1 600px;
			min-height:500px;
		}
		.profile {
			text-align:center;
		}
		.profile > form > div{
			display: grid;
			width:50%;
			margin: 5px auto;
			grid-template-columns: 50% 50%;
		}
		.orders{
			display:flex;
			flex-direction:column;
		}
		.order{
			display:grid;
			grid-template-columns:20% 30% 30% 20%;
			width:80%;
			border-radius:5px;
			background-color:#26627c;
			color:#fff;
			padding:10px;
			margin:8px auto;
			align-items: center;
		}
		.order > i{
			cursor:pointer;
		}
		.order-container > .product{
			display:none;
			width:80%;
			padding:10px;
			margin: auto;
			align-items: center;
			grid-template-columns:20% 20% 20% 20% 20%;
			color:#000;
		}
		.order-container > .product:nth-child(even){
			background-color:#ddd;
		}
		.order-container > .product:nth-child(odd){
			background-color:#ccc;
		}
		.order-container > .header:nth-child(even){
			border:1px solid #26627c;
			background-color:#ededed;
		}